* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark {
    background-color: #75767B !important;
}

.card {
    border-radius: 15px;
}

button {
    font-size: 18px;
    font-weight: bold;
}

h1, h3 {
    font-family: Arial, sans-serif;
}
